
h1 {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: center;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

#map{height: 700px; 
	width: 1000px;}


